$fontBody: 'Roboto', sans-serif;
$fontTitle: 'Raleway', sans-serif;
$fontLogo: 'Potta One', cursive;
$fontHero: 'Pacifico', cursive;
$fontHero2: 'Caveat', cursive;

// 640px, 1024px, 1400px
$medium: 640px;
$large: 1024px;
$xLarge: 1400px;

// color
$darkBlue: #2d314d;
$limeGreen: #31d35c;
$brightCyan: #2bb7da;
$grayishBlue: #9698a6;
$lightGrayishBlue: #f3f4f6;
$veryLightGray: #fafafa;
$white: #ffffff;

$font-sm: 0.875rem; // 14px;
$font-med: 1.125rem; // 18 px;
$font-xlg: 3.25rem; //